@import "tailwindcss";

:root{

--background:#08111D;

--gold:#C8A96A;

--ivory:#F7F2EA;

--brown:#4B352A;

--green:#2E473B;

}

*{

margin:0;

padding:0;

box-sizing:border-box;

}

html{

scroll-behavior:smooth;

}

body{

background:var(--background);

color:var(--ivory);

font-family:var(--font-inter);

overflow-x:hidden;

}

h1,h2,h3{

font-family:var(--font-cormorant);

}

button{

cursor:pointer;

}

a{

text-decoration:none;

color:inherit;

}